body {
  margin: 0;
  background-color: #E5DDDC;
  line-height: 1.6;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

p {
  text-align: justify;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

nav {
  display: flex;
  gap: 20px;
}

a {
  color: #251D18;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: #ad9e94;
  border-radius: 5px;
  padding: 2px;
}

.titulo {
  font-family: "Edu SA Hand", cursive;
  font-size: 40px;
  font-weight: 700;
  color: #251D18;
  text-align: center;
}

.subtitulo {
  font-family: "Edu SA Hand", cursive;
  font-weight: 600;
  color: #251D18;
}

.alimentos {
  font-family: "Edu SA Hand", cursive;
  font-weight: 500;
  color: #251D18;
}

.galeria-destaque {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 40px 0;
}

.principal {
  width: 700px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.miniaturas {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.miniaturas img {
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.miniaturas img:hover {
  transform: scale(1.05);
}


section {
  margin: 20px;
}


.cardapio-itens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.item {
  background-color: #f3ecea;
  padding: 15px;
  border-radius: 10px;
}

.preco {
  font-weight: bold;
  color: #6b4f3f;
  display: block;
  margin-top: 8px;
}


footer {
  text-align: center;
  margin: 20px;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 10px;
  }

  .principal {
    width: 90%;
    height: 250px;
  }
}
